<div class="container">
    <p class="title background-primary">THE BOWL GAME</p>

    <div class="playerForm background-secondary" *ngIf="submissionsView">
        <input placeholder="PLACE" type="text" [(ngModel)]="submittedPlace" [ngModelOptions]="{standalone: true}"
            autocomplete="off" class="paperInput paper1" />
        <input placeholder="PERSON" type="text" [(ngModel)]="submittedName" [ngModelOptions]="{standalone: true}"
            autocomplete="off" class="paperInput paper2" />
        <input placeholder="SONG" type="text" [(ngModel)]="submittedSong" [ngModelOptions]="{standalone: true}"
            autocomplete="off" class="paperInput paper3" />
        <input placeholder="BOOK" type="text" [(ngModel)]="submittedBook" [ngModelOptions]="{standalone: true}"
            autocomplete="off" class="paperInput paper4" />
        <input placeholder="FILM" type="text" [(ngModel)]="submittedFilm" [ngModelOptions]="{standalone: true}"
            autocomplete="off" class="paperInput paper5" />
        <button mat-flat-button color="primary" class="playButton" (click)="joinRoomView()">JOIN GAME</button>
        <button mat-flat-button class="joinButton" (click)="createRoomView()">CREATE GAME</button>
    </div>

    <div class="playerForm background-secondary" *ngIf="createView">
        <mat-form-field class="playerEntry">
            <input matInput placeholder="YOUR NAME" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="playerEntry">
            <input matInput placeholder="NUMBER OF TEAMS" [(ngModel)]="numberOfTeams"
                [ngModelOptions]="{standalone: true}" autocomplete="off" />
        </mat-form-field>
        <div class="buttonContainer">
            <button mat-flat-button (click)="roomSubmissionsView()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="joinButton" (click)="createRoom()">CREATE GAME</button>
        </div>
        <div class="errorMessages">{{errorMessage}}</div>
    </div>

    <div class="playerForm background-secondary" *ngIf="joinView">
        <mat-form-field class="playerEntry">
            <input matInput placeholder="YOUR NAME" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="playerEntry">
            <input matInput placeholder="GAME NUMBER" [(ngModel)]="roomNumber" [ngModelOptions]="{standalone: true}"
                autocomplete="off">
        </mat-form-field>
        <div class="buttonContainer">
            <button mat-flat-button (click)="roomSubmissionsView()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-flat-button color="primary" class="joinButton" (click)="joinRoom()">JOIN GAME</button>
        </div>
        <div class="errorMessages">{{errorMessage}}</div>
    </div>
</div>