<div class="container background-secondary">
    <p class="title background-primary">THE BOWL GAME</p>

    <div class="playerForm">
        <mat-form-field class="playerEntry">
            <input matInput placeholder="YOUR NAME" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="playerEntrySmall">
            <input matInput placeholder="NAME" [(ngModel)]="submittedName" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field class="playerEntrySmall">
            <input matInput placeholder="PLACE" [(ngModel)]="submittedPlace" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field class="playerEntrySmall">
            <input matInput placeholder="SONG" [(ngModel)]="submittedSong" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field class="playerEntrySmall">
            <input matInput placeholder="BOOK" [(ngModel)]="submittedBook" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field class="playerEntrySmall">
            <input matInput placeholder="FILM" [(ngModel)]="submittedFilm" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
    </div>

    <mat-tab-group mat-align-tabs="center" class="background-secondary">
        <mat-tab label="JOIN GAME">
            <div class="playerForm">
                <mat-form-field class="playerEntry">
                    <input matInput placeholder="GAME NUMBER" [(ngModel)]="roomNumber"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <button mat-flat-button color="primary" class="playButton" (click)="joinRoom()">JOIN GAME</button>
            </div>
        </mat-tab>
        <mat-tab label="CREATE GAME">
            <div class="playerForm">
                <mat-form-field class="playerEntry">
                    <input matInput placeholder="NUMBER OF TEAMS" [(ngModel)]="numberOfTeams"
                        [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
                <button mat-flat-button color="primary" class="playButton" (click)="createRoom()"
                    style="margin-top: 20px;">CREATE
                    GAME</button>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="errorMessages">{{errorMessage}}</div>
</div>