.sectionTitle{
    font-weight: bold;
    margin: 20px;
}

.sectionInfo{
    font-weight: normal;
    font-style: italic;
    display: inline;
}

.textListItem{
    margin-left: 20px;
    margin-top: 10px;
}

.bold{
    font-weight: bold;
}

.center{
    text-align: center;
}

.pageInfo{
    font-size: calc((.3em + 1vmin) + (.3em + 1vmax));
    text-align: center;
}