.sectionTitle{
    font-weight: bold;
    margin: 20px;
}

.sectionInfo{
    font-weight: normal;
    font-style: italic;
    display: inline;
}

.bold{
    font-weight: bold;
}

.center{
    text-align: center;
}

.pageInfo{
    font-size: calc((.3em + 1vmin) + (.3em + 1vmax));
    text-align: center;
}

.bowlContainer{
    display: flex;
    flex-direction: row;
    position: relative;
}

.bowl100{
    background: url("../../assets/bowlFull.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.bowl75{
    background: url("../../assets/bowl75.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.bowl50{
    background: url("../../assets/bowl50.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.bowl25{
    background: url("../../assets/bowl25.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.bowl0{
    background: url("../../assets/bowlEmpty.svg");
    background-size: contain;
    background-repeat: no-repeat;
}




.timeContainer{
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
}

.timeImage{
    margin: 0 auto;
    height: 116px;
}

.spinner{
    position: absolute;
    top: 30%;
    left: 16%;
}

.headerFlex{
    display: flex;
    flex-direction: column;
}

.timeAndBowlContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
}

.timeContainer:after{
    content: attr(data-label);
    position: absolute;
    top: 44%;
    left: 33.5%;
    font-size: 28px;
    font-weight: bold;
}

.bowlContainer:after{
    content: attr(data-label);
    position: absolute;
    top: 35%;
    left: 38%;
    font-size: 38px;
    font-weight: bold;
    @supports (-webkit-text-stroke: 1px black) {
            -webkit-text-stroke: 1px black;
            -webkit-text-fill-color: #e87321;
      }
}

.clueView{
    display: flex;
    flex-direction: column;
    justify-items: start;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}

.cluePaper{
    background: url("../../assets/paper1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

.scores{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.score{
    color: antiquewhite;
}

.topBorder{
    border-top: black 3px solid;
    padding-top: 20px;
}

.gameInfo{
    text-align: center;
}

.cluePaperAdjustment{
    line-height: 75px !important;
}

.pageInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pageHeader{
    text-align: center;
    font-size: calc((.4em + 2vmin) + (.4em + 2vmax));
}