<div class="container background-secondary">
    <div class="background-primary headerFlex">
        <p class="title">{{username}}</p>
        <p class="pageInfo">GAME: <span class="bold">{{roomNumber}}</span></p>
        <div class="timeAndBowlContainer">
            <div class="bowlContainer" [attr.data-label]="wordsLeft">
                <img class="timeImage" [src]="bowlImage" />
            </div>
            <div class="timeContainer" [attr.data-label]="timer.counter">
                <img class="timeImage" src="../../assets/stopwatch.svg" />
                <mat-progress-spinner class="spinner" [diameter]="65" [value]="timer.timerPercentage">
                </mat-progress-spinner>
            </div>
        </div>
    </div>

    <div *ngIf="views.lobbyView" class="playerForm">
        <div *ngFor="let team of teams">
            <p class="sectionTitle">TEAM {{team.teamNumber}} - <span class="sectionInfo">SCORE {{team.score}}</span></p>
            <p class="textListItem" *ngFor="let player of team.players">{{player.username}}</p>
        </div>

        <div *ngIf="isClueGiver">
            <p class="textListItem">It is your turn. Click the button below when your team is ready.</p>
            <button mat-flat-button color="primary" class="playButton" (click)="startGame()">START
                TURN</button>
        </div>
    </div>

    <div *ngIf="views.waitingView">
        <div *ngFor="let team of teams">
            <p>TEAM {{team.teamNumber}} - SCORE {{team.score}}</p>
            <p *ngFor="let player of team.players" class="textListItem">{{player.username}}</p>
        </div>
        <p class="textListItem"><span class="bold">{{clueGiver}}</span> is giving clues to the other team. <span
                class="bold">PAY ATTENTION</span>, these words will appear again in future rounds</p>
        <p class="sectionTitle">Words guessed in this round:</p>
        <p *ngFor="let word of guessedItems" class="textListItem">{{word}}</p>
    </div>

    <div *ngIf="views.guessingView">
        <div *ngFor="let team of teams">
            <p>TEAM {{team.teamNumber}} - SCORE {{team.score}}</p>
            <p *ngFor="let player of team.players" class="textListItem">{{player.username}}</p>
        </div>
        <div class="textListItem">
            <p><span class="bold">{{clueGiver}}</span> is giving clues for your team</p>
            <p>Shout out a guess when you think you know!</p>
        </div>
        <p class="sectionTitle">Words guessed correctly in this round:</p>
        <p *ngFor="let word of guessedItems" class="textListItem">{{word}}</p>
    </div>

    <div class="clueView" *ngIf="views.clueingView">
        <p>{{roundInstructions}}</p>
        <p>Your word is:</p>
        <div class="cluePaper">
            <p>{{clue}}</p>
        </div>
        <p>Click <span class="bold">GOT IT</span> when someone from your team guesses correctly</p>
        <button mat-flat-button color="primary" class="playButton" (click)="gotClue()">GOT IT!</button>
    </div>
</div>